{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to AmazonDealsGhana Superstore...</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus erat at libero vulputate iaculis. Duis mattis et urna at semper. Nunc consequat, justo quis vestibulum efficitur, leo enim suscipit dolor, eu mollis massa neque id arcu. Cras sed ipsum ac ante vehicula bibendum. Nunc mattis vestibulum aliquam. Duis ipsum risus, finibus a suscipit vitae, malesuada efficitur purus. Nam aliquam at neque non dapibus.

Nam non urna quis mi tincidunt viverra sit amet in mauris. Etiam tempor scelerisque eros, et tincidunt risus tincidunt nec. Etiam leo risus, rhoncus vitae est in, laoreet faucibus augue. Sed bibendum mauris sollicitudin eleifend pretium. Mauris eu nulla nec nisl tempor lobortis a at lacus. Quisque volutpat tincidunt turpis id posuere. Duis quis tellus sodales, rhoncus purus vitae, iaculis turpis. Aliquam feugiat orci neque, eu rhoncus nibh auctor vel. Suspendisse luctus sed ipsum a consectetur. Duis tincidunt, nulla ut pretium mollis, tellus ipsum sollicitudin sem, gravida accumsan risus nulla vitae odio.

Aliquam vel ante mi. Sed vitae pulvinar justo, ac condimentum tellus. Sed commodo in lectus eget tincidunt. In ornare finibus sem, vitae malesuada libero dignissim a. Cras euismod dui a aliquam mollis. Vivamus semper mi neque, id ornare nisi consectetur vel. Integer eu ex ut lorem molestie dapibus. In maximus suscipit massa, sed condimentum orci molestie sed.
</p>
<br/><br/>
            </div>
        </center>
    </div>
</div>

{% endblock %}